/* 

    Base Grid

*/

    .container {
        position:relative;
        width:960px;
        margin:0;
        padding:0 0 0 10px;
    }
    .container .column,.container .columns {
        float:left;
        display:inline;
        margin-left:10px;
        margin-right:10px;
    }
    .row {
        margin-bottom:20px;
    }
    .column.alpha,.columns.alpha {
        margin-left:0;
    }
    .column.omega,.columns.omega {
        margin-right:0;
    }
    .container .one.column,.container .one.columns {
        width:40px;
    }
    .container .two.columns {
        width:100px;
    }
    .container .three.columns {
        width:160px;
    }
    .container .four.columns {
        width:220px;
    }
    .container .five.columns {
        width:280px;
    }
    .container .six.columns {
        width:340px;
    }
    .container .seven.columns {
        width:400px;
    }
    .container .eight.columns {
        width:460px;
    }
    .container .nine.columns {
        width:520px;
    }
    .container .ten.columns {
        width:580px;
    }
    .container .eleven.columns {
        width:640px;
    }
    .container .twelve.columns {
        width:700px;
    }
    .container .thirteen.columns {
        width:760px;
    }
    .container .fourteen.columns {
        width:820px;
    }
    .container .fifteen.columns {
        width:880px;
    }
    .container .sixteen.columns {
        width:940px;
    }
    .container .one-third.column {
        width:300px;
    }
    .container .two-thirds.column {
        width:620px;
    }
    .container .offset-by-one {
        padding-left:60px;
    }
    .container .offset-by-two {
        padding-left:120px;
    }
    .container .offset-by-three {
        padding-left:180px;
    }
    .container .offset-by-four {
        padding-left:240px;
    }
    .container .offset-by-five {
        padding-left:300px;
    }
    .container .offset-by-six {
        padding-left:360px;
    }
    .container .offset-by-seven {
        padding-left:420px;
    }
    .container .offset-by-eight {
        padding-left:480px;
    }
    .container .offset-by-nine {
        padding-left:540px;
    }
    .container .offset-by-ten {
        padding-left:600px;
    }
    .container .offset-by-eleven {
        padding-left:660px;
    }
    .container .offset-by-twelve {
        padding-left:720px;
    }
    .container .offset-by-thirteen {
        padding-left:780px;
    }
    .container .offset-by-fourteen {
        padding-left:840px;
    }
    .container .offset-by-fifteen {
        padding-left: 900px;
    }

/* 

    Tablet (768px)

*/

    @media only screen and (min-width:0px) and (max-width:959px) {
        .container {
            width:768px;
        }
        .container .column,.container .columns {
            margin-left:10px;
            margin-right:10px;
        }
        .column.alpha,.columns.alpha {
            margin-left:0;
            margin-right:10px;
        }
        .column.omega,.columns.omega {
            margin-right:0;
            margin-left:10px;
        }
        .alpha.omega {
            margin-left:0;
            margin-right:0;
        }
        .container .one.column,.container .one.columns {
            width:28px;
        }
        .container .two.columns {
            width:76px;
        }
        .container .three.columns {
            width:124px;
        }
        .container .four.columns {
            width:172px;
        }
        .container .five.columns {
            width:220px;
        }
        .container .six.columns {
            width:268px;
        }
        .container .seven.columns {
            width:316px;
        }
        .container .eight.columns {
            width:364px;
        }
        .container .nine.columns {
            width:412px;
        }
        .container .ten.columns {
            width:460px;
        }
        .container .eleven.columns {
            width:508px;
        }
        .container .twelve.columns {
            width:556px;
        }
        .container .thirteen.columns {
            width:604px;
        }
        .container .fourteen.columns {
            width:652px;
        }
        .container .fifteen.columns {
            width:700px;
        }
        .container .sixteen.columns {
            width:748px;
        }
        .container .one-third.column {
            width:236px;
        }
        .container .two-thirds.column {
            width: 492px;
        }
        /* Offsets */
        .container .offset-by-one {
            padding-left:48px;
        }
        .container .offset-by-two {
            padding-left:96px;
        }
        .container .offset-by-three {
            padding-left:144px;
        }
        .container .offset-by-four {
            padding-left:192px;
        }
        .container .offset-by-five {
            padding-left:240px;
        }
        .container .offset-by-six {
            padding-left:288px;
        }
        .container .offset-by-seven {
            padding-left:336px;
        }
        .container .offset-by-eight {
            padding-left:384px;
        }
        .container .offset-by-nine {
            padding-left:432px;
        }
        .container .offset-by-ten {
            padding-left:480px;
        }
        .container .offset-by-eleven {
            padding-left:528px;
        }
        .container .offset-by-twelve {
            padding-left:576px;
        }
        .container .offset-by-thirteen {
            padding-left:624px;
        }
        .container .offset-by-fourteen {
            padding-left:672px;
        }
        .container .offset-by-fifteen {
            padding-left:720px;
        }
        .sidebar {
            min-width:150px !important;
        }
        .sidebar-unit h5 {
            line-height:24px !important;
        }
        .popular-count {
            display:none;
        }
        .logo {
            width:100%;
            height:inherit;
            -ms-interpolation-mode: bicubic;
        }
        .job-featured {
            border-left: 1px solid #eee;
        }
    }

/* 

    Homepage Layout

*/

    .container-home {
        position:relative;
        width:960px;
        margin:0 auto;
        padding:0 0 0 10px;
    }
    .container-home .column,.container-home .columns {
        float:left;
        display:inline;
        margin-left:10px;
        margin-right:10px;
    }
    .row {
        margin-bottom:20px;
    }
    .column.alpha,.columns.alpha {
        margin-left:0;
    }
    .column.omega,.columns.omega {
        margin-right:0;
    }
    .container-home .one.column,.container-home .one.columns {
        width:40px;
    }
    .container-home .two.columns {
        width:100px;
    }
    .container-home .three.columns {
        width:160px;
    }
    .container-home .four.columns {
        width:220px;
    }
    .container-home .five.columns {
        width:280px;
    }
    .container-home .six.columns {
        width:340px;
    }
    .container-home .seven.columns {
        width:400px;
    }
    .container-home .eight.columns {
        width:460px;
    }
    .container-home .nine.columns {
        width:520px;
    }
    .container-home .ten.columns {
        width:580px;
    }
    .container-home .eleven.columns {
        width:640px;
    }
    .container-home .twelve.columns {
        width:700px;
    }
    .container-home .thirteen.columns {
        width:760px;
    }
    .container-home .fourteen.columns {
        width:820px;
    }
    .container-home .fifteen.columns {
        width:880px;
    }
    .container-home .sixteen.columns {
        width:940px;
    }
    .container-home .one-third.column {
        width:300px;
    }
    .container-home .two-thirds.column {
        width:620px;
    }
    .container-home .offset-by-one {
        padding-left:60px;
    }
    .container-home .offset-by-two {
        padding-left:120px;
    }
    .container-home .offset-by-three {
        padding-left:180px;
    }
    .container-home .offset-by-four {
        padding-left:240px;
    }
    .container-home .offset-by-five {
        padding-left:300px;
    }
    .container-home .offset-by-six {
        padding-left:360px;
    }
    .container-home .offset-by-seven {
        padding-left:420px;
    }
    .container-home .offset-by-eight {
        padding-left:480px;
    }
    .container-home .offset-by-nine {
        padding-left:540px;
    }
    .container-home .offset-by-ten {
        padding-left:600px;
    }
    .container-home .offset-by-eleven {
        padding-left:660px;
    }
    .container-home .offset-by-twelve {
        padding-left:720px;
    }
    .container-home .offset-by-thirteen {
        padding-left:780px;
    }
    .container-home .offset-by-fourteen {
        padding-left:840px;
    }
    .container-home .offset-by-fifteen {
        padding-left: 900px;
    }

/* 

    Homepage Tablet (768px)

*/

    @media only screen and (min-width:0px) and (max-width:959px) {
        .container-home {
            width:768px;
        }
        .container-home .column,.container-home .columns {
            margin-left:10px;
            margin-right:10px;
        }
        .column.alpha,.columns.alpha {
            margin-left:0;
            margin-right:10px;
        }
        .column.omega,.columns.omega {
            margin-right:0;
            margin-left:10px;
        }
        .alpha.omega {
            margin-left:0;
            margin-right:0;
        }
        .container-home .one.column,.container-home .one.columns {
            width:28px;
        }
        .container-home .two.columns {
            width:76px;
        }
        .container-home .three.columns {
            width:124px;
        }
        .container-home .four.columns {
            width:172px;
        }
        .container-home .five.columns {
            width:220px;
        }
        .container-home .six.columns {
            width:268px;
        }
        .container-home .seven.columns {
            width:316px;
        }
        .container-home .eight.columns {
            width:364px;
        }
        .container-home .nine.columns {
            width:412px;
        }
        .container-home .ten.columns {
            width:460px;
        }
        .container-home .eleven.columns {
            width:508px;
        }
        .container-home .twelve.columns {
            width:556px;
        }
        .container-home .thirteen.columns {
            width:604px;
        }
        .container-home .fourteen.columns {
            width:652px;
        }
        .container-home .fifteen.columns {
            width:700px;
        }
        .container-home .sixteen.columns {
            width:748px;
        }
        .container-home .one-third.column {
            width:236px;
        }
        .container-home .two-thirds.column {
            width:492px;
        }
        .container-home .offset-by-one {
            padding-left:48px;
        }
        .container-home .offset-by-two {
            padding-left:96px;
        }
        .container-home .offset-by-three {
            padding-left:144px;
        }
        .container-home .offset-by-four {
            padding-left:192px;
        }
        .container-home .offset-by-five {
            padding-left:240px;
        }
        .container-home .offset-by-six {
            padding-left:288px;
        }
        .container-home .offset-by-seven {
            padding-left:336px;
        }
        .container-home .offset-by-eight {
            padding-left:384px;
        }
        .container-home .offset-by-nine {
            padding-left:432px;
        }
        .container-home .offset-by-ten {
            padding-left:480px;
        }
        .container-home .offset-by-eleven {
            padding-left:528px;
        }
        .container-home .offset-by-twelve {
            padding-left:576px;
        }
        .container-home .offset-by-thirteen {
            padding-left:624px;
        }
        .container-home .offset-by-fourteen {
            padding-left:672px;
        }
        .container-home .offset-by-fifteen {
            padding-left:720px;
        }
        .sidebar {
            min-width:150px !important;
        }
        .sidebar-unit h5 {
            line-height:2;
        }
        .popular-count {
            display:none;
        }
        .logo {
            width:100%;
            height:inherit;
            -ms-interpolation-mode: bicubic;
        }
    }

/* 

    Clearing

*/

    .container:after {
        content:"\0020";
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
    }
    .container-home:after {
        content:"\0020";
        display:block;
        height:0;
        clear:both;
        visibility: hidden;
    }
    /* Use clearfix class on parent to clear nested columns,or wrap each row of columns in a <div class="row">*/
    .clearfix:before,.clearfix:after,.row:before,.row:after {
        content:'\0020';
        display:block;
        overflow:hidden;
        visibility:hidden;
        width:0;
        height:0;
    }
    .row:after,.clearfix:after {
        clear:both;
    }
    .row,.clearfix {
        zoom: 1;
    }
    /* You can also use a <br class="clear" />to clear columns */
    .clear {
        clear:both;
        display:block;
        overflow:hidden;
        visibility:hidden;
        width:0;
        height: 0;
    }