<table border="0" cellpadding="0" cellspacing="0" style="line-height: 18px;font-family: arial, sans-serif; ">
    <tr>
        <td width="575" valign="top" style="font-size: 12px; padding:8px 5px;">
            <a style="color: #0044cc; text-decoration: underline;" href="$JOBUNGOUK_RESULT_LINK$">
            <span style="font-size: 16px; line-height: 22px; font-weight: bold;">$title$</span></a><br>
            <a style="color: #0044cc; text-decoration: none;" href="$JOBUNGOUK_RESULT_LINK$"><span style="font-weight: bold; font-size: 12px; color: #333333; text-decoration: none;">$company$</span> - <span style="color: #000000;">$location$<br>
             $description$ </span><span style="text-decoration: underline; font-size: 12px; color: #2d7643;"><strong>View Job &gt;&gt;</strong></span></a>
        </td>
    </tr>
</table>