<tr>
    <td valign="top" style="padding: 10px 20px; margin-bottom: 20px; border-bottom: 1px solid #eee; border-collapse: collapse;">
        <div style="font-family: Arial; font-size: 13px; line-height: 150%; text-align: left;" align="left">
        <a style="text-decoration: none;" href="$CAREERALERTER_RESULT_LINK$">
            <h3 style="margin: 0; padding: 0; color: #313d75 !important; ">$TITLE$</h3>
            <p style="margin: 0; padding: 0; color: #505050;">$COMPANY$ &mdash; $LOCATION$ <span style="color: #999999;">$RELATIVE_DATE$</span></p>
            <p style="margin: 0; padding: 0; color: #505050;">$DESCRIPTION$</p>
        </a>
        </div>
    </td>
</tr>
