/* 

    Jobungo UK

*/

    @import url("grid.css");

/* 

    Reset

*/

    html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
        margin:0;
        padding:0;
        border:0;
        font-size:100%;
        font:inherit;
        vertical-align:baseline;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
        display:block;
    }
    body {
        line-height:1;
    }
    ol,ul {
        list-style:none;
    }
    blockquote,q {
        quotes:none;
    }
    blockquote:before,blockquote:after,q:before,q:after {
        content:'';
        content:none;
    }
    table {
        border-collapse:collapse;
        border-spacing: 0;
    }

/* 

    Basic

*/

    * {
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        box-sizing: border-box;
    }
    body {
        background:#fff;
        font:13px/21px "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
        color:#444;
        border-top:5px solid #1c6533;
        -webkit-font-smoothing:antialiased;
        /* Fix for webkit rendering */
        -webkit-text-size-adjust:100%;
    }
    .body-home {
        padding:50px 0 0 0;
    }
    html,body {
        height: 100%;
    }

/* 

    Type

*/

    h1,h2,h3,h4,h5,h6 {
        color:#181818;
        font-weight:normal;
    }
    h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
        font-weight:inherit;
    }
    h1 {
        font-size:46px;
        line-height:50px;
        margin-bottom:14px;
    }
    h2 {
        font-size:35px;
        line-height:40px;
        margin-bottom:10px;
    }
    h3 {
        font-size:28px;
        line-height:34px;
        margin-bottom:8px;
    }
    h4 {
        font-size:21px;
        line-height:30px;
        margin-bottom:4px;
    }
    h5 {
        font-size:17px;
        line-height:24px;
    }
    h6 {
        font-size:14px;
        line-height:21px;
    }
    .subheader {
        color:#777;
    }
    p {
        margin:0 0 20px 0;
    }
    p img {
        margin:0;
    }
    p.lead {
        font-size:21px;
        line-height:27px;
        color:#777;
    }
    em {
        font-style:italic;
    }
    strong {
        font-weight:bold;
        color:#333;
    }
    small {
        font-size: 80%;
    }

/* 

    Links

*/

    a,a:visited {
        color:#1223cc;
        text-decoration:underline;
        outline:0;
    }
    p a,p a:visited {
        line-height: inherit;
    }

/* 

    Lists

*/

    ul,ol {
        margin-bottom:20px;
    }
    ul {
        list-style:none outside;
    }
    ol {
        list-style:decimal;
    }
    ol,ul.square,ul.circle,ul.disc {
        margin-left:30px;
    }
    ul.square {
        list-style:square outside;
    }
    ul.circle {
        list-style:circle outside;
    }
    ul.disc {
        list-style:disc outside;
    }
    ul ul,ul ol,ol ol,ol ul {
        margin:4px 0 5px 30px;
        font-size:90%;
    }
    ul ul li,ul ol li,ol ol li,ol ul li {
        margin-bottom:6px;
    }
    li {
        line-height:18px;
        margin-bottom:12px;
    }
    ul.large li {
        line-height:21px;
    }
    li p {
        line-height: 21px;
    }

/* 

    Buttons

*/

    button {
        outline: 0 !important;
        border: 0 !important;
        font-family: arial;
        cursor: pointer;
    }
    .button,button,input[type="submit"],input[type="reset"],input[type="button"] {
        background-color: #f39c12;
        color:#fff;
        border-radius:5px;
        padding:15px 30px 15px;
        width:250px;
        margin:0;
        font-size:15px;
        border: 0;
    }
    button.results-btn,input[type="submit"].results-btn,input[type="reset"].results-btn,input[type="button"].results-btn {
        background-color: #f39c12;
        color:#fff;
        border-radius:5px 5px 5px 5px;
        padding:10px 30px 10px;
        line-height: 19px;
        width:250px;
        margin:0;
        font-size:15px;
    }
    button.results-btn,input[type="submit"].results-btn,input[type="reset"].results-btn,input[type="button"].results-btn {
        background-color: #f39c12;
        color:#fff;
        border-radius:5px 5px 5px 5px;
        padding:10px 30px 10px;
        width:250px;
        font-size:15px;
        border: 0;
    }
    .button:hover,button:hover,input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover {
    }
    .button:active,button:active,input[type="submit"]:active,input[type="reset"]:active,input[type="button"]:active {
        background-color: #f4a629;
    }
    .button.full-width,button.full-width,input[type="submit"].full-width,input[type="reset"].full-width,input[type="button"].full-width {
        width:100%;
        padding-left:0 !important;
        padding-right:0 !important;
        text-align: center;
    }
    /* Fix for odd Mozilla border & padding issues */
    button::-moz-focus-inner,input::-moz-focus-inner {
        border:0;
        padding: 0;
    }

/* 

    Forms

*/

    form {
        margin-bottom:20px;
    }
    fieldset {
        margin-bottom:20px;
    }
    input[type="text"],input[type="password"],input[type="email"],textarea,select {
        padding:15px;
        border:1px solid #bbb;
        background:#f9f9f9;
        box-shadow:0 0 3px #DDDDDD inset;
        -webkit-box-shadow:0 0 3px #DDDDDD inset;
        -moz-box-shadow:0 0 3px #DDDDDD inset;
        -webkit-box-shadow:0 0 3px #DDDDDD inset;
        color:#444;
        margin:0;
        max-width:100%;
        font-size:13px;
        width:100%;
        display:block;
        margin-bottom:20px;
    }
    input[type="text"].results-field,input[type="password"].results-field,input[type="email"].results-field {
        padding:10px;
        border:1px solid #bbb;
        background:#f9f9f9;
        box-shadow:0 0 3px #DDDDDD inset;
        -webkit-box-shadow:0 0 3px #DDDDDD inset;
        -moz-box-shadow:0 0 3px #DDDDDD inset;
        -webkit-box-shadow:0 0 3px #DDDDDD inset;
        color:#444;
        margin:0;
        font-size:13px;
        max-width:100%;
        width:100%;
        display:block;
        margin-bottom:20px;
    }
    input[type="text"].share-field,input[type="password"].share-field,input[type="email"].share-field {
        padding:5px;
        border:1px solid #bbb;
        background:#f9f9f9;
        box-shadow:0 0 3px #DDDDDD inset;
        -webkit-box-shadow:0 0 3px #DDDDDD inset;
        -moz-box-shadow:0 0 3px #DDDDDD inset;
        -webkit-box-shadow:0 0 3px #DDDDDD inset;
        color:#444;
        margin:0;
        font-size:12px;
        font-weight:normal;
        max-width:100%;
        width:100%;
        display:block;
        margin-bottom:10px;
    }
    textarea.share-field {
        max-height: 300px;
        min-width: 100%;
    }
    select {
        padding:0;
    }
    input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus {
        border:1px solid #aaa;
        color:#444;
        -moz-box-shadow:0 0 3px rgba(0,0,0,.2);
        -webkit-box-shadow:0 0 3px rgba(0,0,0,.2);
        box-shadow:0 0 3px rgba(0,0,0,.2);
    }
    textarea {
        min-height:60px;
        margin-bottom:10px;
        font-size:12px;
        padding:5px;
        font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    label,legend {
        display:block;
        font-weight:bold;
    }
    select {
        width:220px;
    }
    input[type="checkbox"] {
        display:inline;
    }
    label span,legend span {
        font-weight:normal;
        font-size:13px;
        color: #444;
    }

/*

    Structure

*/

    footer {
        line-height: 1;
    }
    .widebar {
        width:100%;
        padding:10px 0;
        border-bottom:1px solid #ddd;
        border-top:1px solid #ddd;
    }
    .no-widebar {
        border-bottom:1px solid #ddd;
    }

/* 

    Map Overlay

*/
    
    #map_canvas {
        width:100%;
        height:300px;
        float:left;
        margin:0;
        border: 1px solid #bbbbbb;
    }
    .map-overlay-container {
        position:relative;
    }
    .map-overlay {
        position:absolute;
        left:0;
        top:0;
        height:50px;
        width:100%;
        box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.35);
        -webkit-box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.35);
        -moz-box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.35);
        -o-box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.35);
        background:#529467;
        z-index:1;
        opacity:.9;
    }
    .map-overlay img.map-overlay-1 {
        z-index:1;
        position:absolute;
        left:0;
        bottom:0;
    }
    .map-overlay img.map-overlay-2 {
        z-index:1;
        position:absolute;
        right:0;
        bottom:0;
    }
    #map_canvas {
        z-index: 0;
    }

/* 

    Job Entry

*/

    .job-entries {
        margin-top: 0;
    }
    .job-entry {
        border-bottom: 1px solid #eee;
        border-bottom: 1px solid #EEEEEE;
        margin-left: -10px;
        margin-right: -30px;
        padding: 10px 0 10px 10px;
    }
    .job-entry:hover {
        background-color: #f5f5f5;
    }
    /*
    .job-entry-ad {
        padding: 5px 0 5px;
        margin-top: 0;
        margin-left: -4px;
        border-bottom: 1px solid #eee;
    }
    */
    .job-entry-ad {
        padding: 15px 0 15px 7px;
        background: #fffae7;
        margin: -1px -30px 0 -10px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        position: relative;
    }
    .sponsored-link {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 8px;
        color: #aaaaaa;
        line-height: 100%;
        padding: 2px 4px;
        z-index: 1;
    }
    .job-entry h5 {
        line-height: 16px;
        font-size: 16px;
        margin-bottom: 3px;
        font-weight: bold;
    }
    .job-entry p {
        line-height: 16px;
        font-size: 13px;
        margin: 0;
    }
    .job-entry-meta {
        color: #444;
        font-weight: bold;
    }
    .job-entry-meta strong {
        color: #444;
        font-weight: bold;
    }
    .job-entry-meta span {
        color: #aaa;
    }
    .job-featured {
        background: #f9f9f9;
        border-right: 1px solid #eee;
        border-top: 1px solid #eee;
        padding: 10px 10px 10px 20px;
        margin-left: -20px;
    }
    .job-featured h5 {
        margin-top: 0 !important;
    }
    .label {
        padding:2px 4px;
        line-height:1;
        font-size:10px;
        color:#fff;
        text-transform:uppercase;
        font-weight:bold;
        background-color:#ebab4a;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius: 3px;
    }
    .edu-link a {
        color: #aaa;
        text-decoration: none;
    }


/* 

    Sidebar

*/

    .sidebar {
        -moz-user-select:none;
        bottom:0;
        left:0;
        min-width:240px;
        position:absolute;
        background-color: #fff;
        padding:0;
        top:0;
    }
    .sidebar-unit {
        margin-bottom:0;
        background-color: #fff;
    }
    .sidebar-unit h5 {
        font-weight:bold;
        padding-left:30px;
        font-size:14px;
        color:#444;
        text-shadow:1px 1px 0 #fff;
        margin:15px 30px 5px 0;
        line-height:1;
    }
    .sidebar-unit h5 a {
        color:#444;
        text-decoration:none;
    }
    .sidebar-unit ul li {
        padding: 0; margin: 0;
    }
    .sidebar-unit ul li a {
        line-height:24px;
        text-decoration:none;
        color:#444;
        padding:5px 0 5px 30px;
    }
    .sidebar-unit ul li a:hover {
        line-height:24px;
        text-decoration:none;
        color:#333;
        position:relative;
        padding:5px 0 5px 23px;
        border-left:7px solid #ccc;
    }
    .sidebar-unit ul li a.active {
        font-weight:bold;
        line-height:24px;
        text-decoration:none;
        color:#444;
        position:relative;
        padding:5px 0 5px 23px;
        border-left:7px solid #666;
    }
    .sidebar-header {
        -moz-user-select:none;
        bottom:0;
        left:0;
        min-width:240px;
        position:absolute;
        padding:0 20px;
        margin-left:40px;
        top:0;
    }
    .days-back {
        margin-top: 25px !important;
    }
    .totalnumber {
        margin-top: 15px;
        padding-left:30px;
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
    }
    .totalnumber h3 { 
        color: #D38009;
        font-weight: bold;
        font-size: 36px;
        margin-top: 20px;
    }
    .share-these-results {
        width:100;
        padding:0 30px;
    }
    .sidebar-fixed-unit {
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,.31) url(../images/check-mark.png) 30px center no-repeat;
        padding: 20px 10px 20px 60px;
        width: 100%;
        display: block;
        color: #fff;
        text-shadow: none;
        font-weight: bold;
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        border: 5px solid rgba(255,255,255,0.09);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .sidebar-fixed-unit-a {
        text-decoration: none;
    }
    .sidebar-fixed-unit:hover {
        background: rgba(28,101,51,0.8) url(../images/check-mark.png) 30px center no-repeat;
        padding: 40px 10px 40px 60px;
    }
    .sidebar-note {
        font-size: 12px;
        line-height: 16px;
        font-weight: bold;
        padding:10px 10px 10px 30px;
        background-color: #ffeeb2;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .recommended-jobs-btn-result {
        margin: 15px 0 15px 15px;
    }
    .recommended-jobs-btn-result a {
        display: block;
        background: #1c6533 url(../images/rj-result-btn.png) no-repeat;
        text-align: center;
        background-position: 18px 50%;
        padding: 8px 8px 8px 27px;
        text-decoration: none;
        font-size: 12px;
        border-radius: 5px;
        font-weight: bold;
        color: #fff;
    }

/*

    Pagination

*/

    .pagination {
        height:36px;
        margin:18px 0;
        clear:both;
    }
    .pagination ul {
        display:inline-block;
        *display:inline;
        margin-bottom:0;
        margin-left:0;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        *zoom:1;
        -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.05);
        -moz-box-shadow:0 1px 2px rgba(0,0,0,0.05);
        box-shadow:0 1px 2px rgba(0,0,0,0.05);
    }
    .pagination li {
        display:inline;
    }
    .pagination a {
        float:left;
        padding:0 14px;
        line-height:34px;
        text-decoration:none;
        color:#333;
        border:1px solid #ddd;
        border-left-width:0;
    }
    .pagination a:hover,.pagination .active a {
        background-color:#f5f5f5;
    }
    .pagination .active a {
        color:#999999;
        cursor:default;
    }
    .pagination .disabled span,.pagination .disabled a,.pagination .disabled a:hover {
        color:#999999;
        cursor:default;
        background-color:transparent;
    }
    .pagination li:first-child a {
        border-left-width:1px;
        -webkit-border-radius:3px 0 0 3px;
        -moz-border-radius:3px 0 0 3px;
        border-radius:3px 0 0 3px;
    }
    .pagination li:last-child a {
        -webkit-border-radius:0 3px 3px 0;
        -moz-border-radius:0 3px 3px 0;
        border-radius:0 3px 3px 0;
    }
    .pagination-centered {
        text-align:center;
    }
    .pagination-right {
        text-align: right;
    }
    .pagination-next {
        font-weight: bold;
    }

/*

    Footer Nav

*/

    nav[role="footer-nav"] {
        display:block;
        clear:both;
        position:relative;
        text-align:center;
        margin:0 auto;
    }
    nav[role="footer-nav"] li {
        font-size:13px;
        line-height:1;
    }
    nav[role="footer-nav"] li:last-child {
        border-right:none;
    }
    nav[role="footer-nav"] li a {
        float:left;
        padding-right:10px;
        margin-right:10px;
        border-right:1px solid #ddd;
        text-decoration:none;
        color:#999;
        border-radius:4px;
    }
    nav[role="footer-nav"] li a:last-child {
        border-right:0;
    }
    nav[role="footer-nav"] li a:hover,nav[role="footer-nav"] li a:focus {
        color:#333;
    }
    nav[role="footer-nav"] li a:active {
        color:#666;
    }
    nav[role="footer-nav"] li.active a {
        font-weight:bold;
        color: #333;
    }

/*

    Meat & Potatoes

*/
    .container-inner {
        padding:0 0 0 20px;
    }
    .container-footer {
        padding:0 0 50px 10px;
    }
    .container-home a {
        color:#1c6533;
    }
    .header-results {
        margin:15px 0;
    }
    .header-home {
        margin:0;
    }
    .main-col {
        left:212px;
        position:relative;
    }
    .widebar p {
        margin:0;
        color:#aaa;
    }
    .form-help {
        margin:5px 0 10px 0;
        font-size:12px;
        color:#999;
    }
    header label {
        font-size:12px;
        font-weight:bold;
        color:#444;
        margin-bottom:5px;
    }
    .logo {
        width:150px;
        height:44px;
        background:url(../images/logo.png);
        text-indent:-9999px;
        float:left;
        margin:27px 0 36px 10px;
        padding:0;
    }
    .logo-home {
        width:200px;
        height:58px;
        background:url(../images/logo-home.png);
        text-indent:-9999px;
        float:left;
        position:relative;
        display:block;
        margin:5px 0 20px;
    }
    .job-numbers {
        font-weight:bold;
    }
    .quick-search ul li a {
        color:#333;
        text-decoration:none;
    }
    .result-count {
        text-decoration:none;
        background-clip:padding-box;
        color:#1c6533;
        display:inline-block;
        line-height:20px;
        font-weight:bold;
        padding:5px 0;
        text-shadow:0 1px 0 rgba(255,255,255,0.5);
    }
    .job-search-txt {
        line-height:32px;
        font-weight:bold;
        font-size:18px;
        color:#1c6533 !important;
        padding-left:10px;
    }
    .popup-txt {
        line-height:32px;
        font-weight:bold;
        font-size:18px;
        color:#1c6533 !important;
    }
    .job-search-amount {
        color:#1c6533 !important;
        line-height:32px;
        font-size:18px;
        font-weight:bold;
    }

    .newsletter-signup {
        padding: 0 0 8px;
        margin: 8px 0;
        border-bottom: 1px solid #eee;
    }
    .newsletter-signup-top {
        padding: 0 0 8px;
        margin: 20px 0;
        border-bottom: 1px solid #eee;
        display: block;
    }
    .newsletter-signup a {
        text-decoration:none;
        background-clip:padding-box;
        color:#1c6533;
        display:inline-block;
        font-size:13px;
        font-weight:bold;
        padding:0 0 0 25px;
        background-image:url(../images/newsletter-signup.png);
        background-repeat:no-repeat;
        background-position:center left;
        text-shadow:0 1px 0 rgba(255,255,255,0.5);
    }
    .newsletter-signup a span {
        text-decoration: underline;
    }
    .newsletter-signup-top {
        padding: 0 0 8px;
        margin: 0 0 8px;
        border-bottom: 1px solid #eee;
    }
    .newsletter-signup-top a {
        text-decoration:none;
        background-clip:padding-box;
        color:#1c6533;
        display:inline-block;
        font-size:13px;
        font-weight:bold;
        padding:0 0 0 25px;
        background-image:url(../images/newsletter-signup.png);
        background-repeat:no-repeat;
        background-position:center left;
        text-shadow:0 1px 0 rgba(255,255,255,0.5);
    }
    .newsletter-signup-top a span {
        text-decoration: underline;
    }
    .email-signup a {
        text-decoration:none;
        -moz-user-select:none;
        background-clip:padding-box;
        background-color:#FFFFFF;
        background-image:-moz-linear-gradient(center top,#FFFFFF 0%,#F0F2F4 100%);
        border:1px solid #bbb;
        border-radius:5px 5px 5px 5px;
        box-shadow:0 1px 0 0 rgba(255,255,255,0.65);
        color:#999;
        cursor:pointer;
        display:inline-block;
        line-height:20px;
        outline:medium none;
        padding:5px 10px;
        position:relative;
        text-shadow:0 1px 0 rgba(255,255,255,0.5);
    }
    .email-signup a span {
        background:url("../images/updates-icon.png") no-repeat 0 50% transparent;
        padding-left:22px;
    }
    .email-signup a:active {
        background-color:#f0f2f4;
        background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#f9f9f9),color-stop(#e1e1e1));
        background-image:-webkit-linear-gradient(#f9f9f9,#e1e1e1);
        background-image:-moz-linear-gradient(center top,#f9f9f9 0%,#e1e1e1 100%);
        background-image:-moz-gradient(center top,#f9f9f9 0%,#e1e1e1 100%);
        box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.15);
        -webkit-box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.15);
        -moz-box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.15);
        -o-box-shadow:inset 0 1px 2px 0 rgba(0,0,0,0.15);
        border-color:#aaa;
    }
    .email-signup a span {
        font-weight:bold;
    }
    .home-section {
        background:#f9f9f9;
        -moz-box-shadow:inset 0 0 15px #ccc;
        -webkit-box-shadow:inset 0 0 15px #ccc;
        box-shadow:inset 0 0 15px #ccc;
        border-bottom:1px solid #ccc;
        border-top:1px solid #ccc;
        text-shadow:1px 1px 0 #fff;
        padding:20px 0 5px;
    }
    .header-banner {
        position:fixed;
        background:#1c6533;
        box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.35);
        -webkit-box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.35);
        -moz-box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.35);
        -o-box-shadow:inset 0 1px 10px 0 rgba(0,0,0,0.35);
        display:block;
        width:100%;
        left:0;
        right:0;
        top:0;
        margin:0;
        z-index:9999;
        padding-top:10px;
        height:45px;
        padding-bottom:10px;
    }
    .header-banner ul {
        float:right;
    }
    .header-banner ul li {
        display:inline;
        padding-left:15px;
        padding-bottom:0;
    }
    .header-banner ul li a {
        color:#fff;
        text-decoration:none;
        text-shadow:1px 1px 0 #333;
    }
    .search-form-home {
        position: relative;
        margin-bottom: 2em;
    }
    .search-form-home form label {
        color:#aaa;
        font-size:28px;
        margin-bottom:10px;
    }
    .search-form-home form label span {
        font-size:11px;
        line-height:0;
    }
    .search-jobs-home {
        font-size:16px;
        color:#1c6533;
        font-weight:bold;
        position:relative;
        text-align:right;
        margin:23px 0 0;
    }
    .top-nav-btn {
        position:absolute;
        top:0;
        right:0;
    }
    .top-nav-btn li {
        display:inline;
        background:rgb(255,183,0);
        background:-moz-linear-gradient(top,rgba(243,207,111,1) 0%,rgba(234,170,73,1) 100%);
        background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,183,0,1)),color-stop(100%,rgba(255,140,0,1)));
        background:-webkit-linear-gradient(top,rgba(243,207,111,1) 0%,rgba(234,170,73,1) 100%);
        background:-o-linear-gradient(top,rgba(243,207,111,1) 0%,rgba(234,170,73,1) 100%);
        background:-ms-linear-gradient(top,rgba(243,207,111,1) 0%,rgba(234,170,73,1) 100%);
        background:linear-gradient(to bottom,rgba(243,207,111,1) 0%,rgba(234,170,73,1) 100%);
        filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb700',endColorstr='#ff8c00',GradientType=0 );
        border:1px solid #e59500;
        color:#896302;
        text-shadow:1px 1px 0 #fff;
        border-radius:5px 5px 5px 5px;
        padding:9px 30px 7px;
    }
    #indeed_at, #indeed_at a {
        color:#aaa;
        line-height:19px;
        text-decoration:none;
    }
    .fb-like {
        float:right;
        margin:0;
        padding:0;
        text-align:right;
    }
    .fb-like-results {
        margin-top:7px;
        margin-right: -10px;
    }
    .header-banner {
        color:#fff;
    }
    .footer-slogan {
        float:right;
        margin:20px 0 0;
    }
    .top-nav-resources {
        background:url(../images/top-nav-resources.png) center left no-repeat;
        padding-left:20px;
    }
    .top-nav-resume {
        background:url(../images/top-nav-resume.png) center left no-repeat;
        padding-left:20px;
    }
    .newsletter-signup-subhead {
        color:#73bf8b;
        text-transform:uppercase;
        font-size:11px;
        letter-spacing:2px;
        margin-bottom: 0;
    }
    .form-label-title {
        font-size: 14px; font-weight: bold; color: #1c6533;
    }
    .job-entry-ad-afc {
        padding: 15px 0 5px 7px;
        background: #fffae7;
        margin: -1px -30px 0 -10px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    .popular-count {
        font-size:11px;
        color:#1C6533;
    }
/*

    Modal

*/

    .modal-body h4 {
        margin:5px 0 18px;
        color:#1c6533;
        font-size:18px;
        font-weight:bold;
        padding:0;
        line-height:24px;
    }
    .modal-open .dropdown-menu {
        z-index:2050;
    }
    .modal-open .dropdown.open {
        *z-index:2050;
    }
    .modal-open .popover {
        z-index:2060;
    }
    .modal-open .tooltip {
        z-index:2070;
    }
    .modal-backdrop {
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        left:0;
        z-index:1040;
        background-color:#000000;
    }
    .modal-backdrop.fade {
        opacity:0;
    }
    .modal-backdrop,.modal-backdrop.fade.in {
        opacity:0.8;
        filter:alpha(opacity=80);
    }
    .modal {
        position:fixed;
        top:50%;
        left:50%;
        z-index:1050;
        width:400px;
        margin:-150px 0 0 -200px;
        overflow:auto;
        background-color:#ecfff1;
        border:1px solid #999;
        border:1px solid rgba(0,0,0,0.3);
        *border:1px solid #999;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        -webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
        -moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
        box-shadow:0 3px 7px rgba(0,0,0,0.3);
        -webkit-background-clip:padding-box;
        -moz-background-clip:padding-box;
        background-clip:padding-box;
    }
    .modal.fade {
        top:-25%;
        -webkit-transition:opacity 0.3s linear,top 0.3s ease-out;
        -moz-transition:opacity 0.3s linear,top 0.3s ease-out;
        -ms-transition:opacity 0.3s linear,top 0.3s ease-out;
        -o-transition:opacity 0.3s linear,top 0.3s ease-out;
        transition:opacity 0.3s linear,top 0.3s ease-out;
    }
    .modal.fade.in {
        top:50%;
    }
    .modal-header {
        padding:9px 15px;
        border-bottom:1px solid #eee;
    }
    .modal-header .close {
        margin-top:2px;
    }
    .modal-body {
        max-height:400px;
        padding:15px;
        text-align:center;
        overflow-y:auto;
    }
    .modal-form {
        margin-bottom:0;
    }
    .modal-footer {
        padding:14px 15px 15px;
        margin-bottom:0;
        text-align:right;
        background-color:#f5f5f5;
        border-top:1px solid #ddd;
        -webkit-border-radius:0 0 6px 6px;
        -moz-border-radius:0 0 6px 6px;
        border-radius:0 0 6px 6px;
        *zoom:1;
        -webkit-box-shadow:inset 0 1px 0 #ffffff;
        -moz-box-shadow:inset 0 1px 0 #ffffff;
        box-shadow:inset 0 1px 0 #ffffff;
    }
    .modal-footer:before,.modal-footer:after {
        display:table;
        content:"";
    }
    .modal-footer:after {
        clear:both;
    }
    .modal-body button {
        margin-top:5px;
        padding:8px 0;
        font-weight:bold;
    }
    .modal-footer .btn-group .btn+.btn {
        margin-left:-1px;
    }
    .close {
        float:right;
        font-size:20px;
        font-weight:bold;
        line-height:18px;
        color:#000000;
        text-shadow:0 1px 0 #ffffff;
        opacity:0.2;
        filter:alpha(opacity=20);
    }
    .close:hover {
        color:#000000;
        text-decoration:none;
        cursor:pointer;
        opacity:0.4;
        filter: alpha(opacity=40);
    }
    .uk-compliance-joke {
        font-size: 10px;
        line-height: 150%;
        margin: 10px 0 5px;
    }

/* 

    Slidebox

*/

    #slidebox{
        width:400px;
        padding:20px 10px 10px;
        background-color: #f5f5f5;
        background: rgb(255,255,255); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
        background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        border-top:5px solid #1c6533;   
        color: #1c6533;
        position:fixed;
        line-height: 1;
        display: block;
        text-align: center;
        bottom:0px;
        right:-430px;
        -moz-box-shadow:-2px 0px 5px #aaa;
        -webkit-box-shadow:-2px 0px 5px #aaa;
        box-shadow:-2px 0px 5px #aaa;
        -webkit-border-top-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
        border-top-left-radius: 6px;
    }
    #slidebox p, a.slidebox-more{
        font-size:11px;
        font-weight: bold;
        text-transform:uppercase;
        text-decoration: none;
        color:#ccc;
    }
    a.slidebox-more{
        cursor:pointer;
        color:#fff;
        padding: 5px 10px;
        background-color:#E28409;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius: 3px;
    }
    a.slidebox-more:hover{
        text-decoration:none;
        background-color:#ed9522;
    }
    #slidebox h2 {
        line-height: 18px;
        margin:0 0 20px;
    }
    #slidebox h2 span {
        color: #398e54;
        text-decoration: underline;
    }
    #slidebox h2 a {
        color:#1c6533;
        font-weight: bold;
        text-decoration: none;
        font-size:18px;
    }
    a.close{
        background:transparent url(../images/slidebox-close.gif) no-repeat top left;
        width:13px;
        height:13px;
        position:absolute;
        cursor:pointer;
        top:10px;
        right:10px;
    }
    a.close:hover{
        background-position:0px -13px;
    }

/* 

    Recommended Jobs Fixed Button

*/

    .recommended-jobs-fixed {
        position: fixed;
        right: 0;
        display: block;
        top: 30%;
        margin: 0;
    }
    .recommended-jobs-fixed-a {
        text-decoration: none;
    }
    .recommended-jobs-fixed:hover {
        opacity: .8;
    }
    .recommended-jobs-fixed-count span {
        background-color: #1c6533;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        box-shadow: 0px 0 3px #555;
        -moz-box-shadow: 0px 0 3px #555;
        -webkit-box-shadow: 0px 0 3px #555;
        border: 2px solid #fff;
        color:#fff;
        padding:2px 6px;
        text-decoration:none;
        text-align:center; 
        position: absolute;
        top: -10px;
        left: -10px;
    }
    .recommended-jobs-fixed-btn {
        margin: 0;
        border-top: 1px solid rgba(255,255,255,0.3);
        background: #1c6533;
        padding: 5px;
        text-align: center;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

/* 

    FAQ

*/  
    .faq-header {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }
    .faq-header h2 {
        color: #1c6533;
        margin: 0;
        font-size: 26px;
        font-weight: bold;
    }
    .faq-question {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }
    .faq-question h4 {
        font-size: 20px;
        color: #1c6533;
        font-weight: bold;
    }
    .faq-question a {
        color: #1c6533;
        font-weight: bold;
    }
    .faq-question p {
        margin: 0;
    }
    .faq-question:last-child {
        margin-bottom: 20px;
        padding-bottom: 0;
        border: none;
    }
    .faq-menu li {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    .faq-menu li:last-child {
        border: none;
    }
    .faq-menu a {
        color: #1c6533;
        font-weight: bold;
        text-decoration: none;
    }
    .jumptarget:before {
        content:"";
        display:block;
        height:50px;
        margin:-50px 0 0;
    }


/*

    Tooltip

*/

#tipKeywords, #tipLocation {
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -ms-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
    -webkit-animation-name: tooltip;
    -moz-animation-name: tooltip;
    -o-animation-name: tooltip;
    animation-name: tooltip;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    background-color:#1c6533;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color:#fff;
    font-size:85%;
    font-weight: bold;
    line-height:140%;
    margin-left:1em;
    text-shadow: none;
    padding:0.5em 1em;
    position:absolute;
    text-align:center;
    top:85px;
    z-index:1;
}
#tipKeywords:before, #tipLocation:before{
    border-color:transparent transparent #1c6533;
    border-style:solid;
    border-width:0px 9px 9px;
    content:'';
    height:0px;
    left:23px;
    position:absolute;
    top:-9px;
    width:0px;
}
@media all and (max-width:730px) {
    #tipKeywords, #tipLocation {
        display:none;
    }
}

/* 

    Tooltip Animations

*/

@-webkit-keyframes tooltip {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes tooltip {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes tooltip {
    0% {
        opacity: 0;
        -o-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes tooltip {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*

    Footer Last Call

*/

    .footer-last-call {
        margin: 20px 0 0;
        padding-top: 20px;
        font-size: 12px;
        font-weight: bold;
        border-top: 1px solid #eee;
    }
    .footer-last-call ul li {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #eee;
    }
    .footer-last-call ul li:last-child {
        margin: 0; padding: 0;
        border: none;
    }
    .footer-last-call a {
        
        color: rgba(28,101,51,0.8);
        text-decoration: none;
    }
    .footer-last-call a:hover {
        color: #1c6533;
    }
    .footer-last-call h3 {
        margin: 0 0 20px 0;
        font-size: 14px;
        color: #1c6533;
        font-weight: bold;
    }

/*

    Cookie Message

*/

.cookie-msg {
    position:absolute;
    top:1rem;
    right:1rem;
    background-color:#eff0f2;
    max-width:220px;
    color:#333;
    padding:1rem 0.75rem;
    font-size:90%;
    z-index:99999;
    border:1px solid #ddd;
    border-radius:3px;
    text-align:center;
}
.cookie-msg .close-cta {
    position:absolute;
    top:0;
    cursor:pointer;
    right:0;
    padding:3px 6px;
    background-color:#1c6533;
    border-bottom-left-radius:2px;
    color:#fff;
    line-height:1;
}
.cookie-msg a {
    color:#1c6533;
}
.cookie-msg a.accept {
    padding:0.5rem 1rem;
    display:block;
    margin-top:0.5rem;
    text-align:center;
    text-decoration:none;
    background-color:#1c6533;
    border-radius:3px;
    color:#fff;
}
.cookie-msg a.accept:hover {
    opacity: 0.75;
}

/* RJ Widget */

.rj-widget {
    width: 200px;
    position: fixed;
    top: 55%;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 99;
    -webkit-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
}
.rj-widget.active {
    opacity: 1 !important;
}
.rj-widget-banner {
    max-width: 100%;
    display: block;
    border-top-left-radius: 12px;
}
.rj-widget-content {
    padding: 1rem;
    background-color: #f2f2f2;
    border-bottom-left-radius: 12px;
}
.rj-widget h3 {
    font-weight: bold;
    font-size: 85%;
    text-transform: uppercase;
    color: #D38009;
    margin-bottom: 0;
}
.rj-widget h2 {
    font-size: 95%;
    line-height: 140%;
    font-weight: bold;
    margin-bottom: 1rem;
}
.result-button-container a {
    font-size: 12px;
    font-weight: bold;
    color: #222;
    display: table;
    height: 50px;
    width: 100%;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
}
.result-button {
    background-color: #1c6533;
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    font-size: 90%;
    letter-spacing: 1px;
    border-radius: 6px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.result-button:hover {
    background-color: #56995d;
}
.close-btn {
    position: absolute;
    z-index: 9999;
    top: 6px;
    right: 6px;
    cursor: pointer;
}
.close-btn img {
    display: block;
}

.inuvo-ypa-sidebar {
        background-color: #fff;
        border: 1px solid #eee;
        padding: 5px;
        margin: 0 0 0 30px;
        border-radius: 3px;
    }

/* 

    Helper Classes

*/

    .remove-bottom {
        margin-bottom:0 !important;
    }
    .half-bottom {
        margin-bottom:10px !important;
    }
    .add-bottom {
        margin-bottom:20px !important;
    }
    .pull-right {
        float:right;
    }
    .pull-left {
        float:left;
    }
    
    .searching-map {
    margin: 0 0 30px;
    }
    .searching-map h2 {
    margin:5px 0 25px;
    color:#1c6533;
    font-size:24px;
    font-weight:bold;
    padding:0;
    line-height:24px;
    }
    #user_list {
       border: 1px solid #CCCCCC;
       box-shadow: 1px -2px 17px #F4F4F4 inset;
       float: right;
       height: 450px;
       padding: 10px;
       width: 100%;
    }
    .scroll_list {
       color: #006600;
       font-family: helvetica,arial,sans-seref;
       font-size: 12px;
       height: 392px;
       overflow: hidden;
    }
    .scroll_list li {
       border-bottom: 1px solid #eee;
       font-size: 12px;
       font-weight: bold;
       list-style: none outside none;
       margin: 0;
       padding: 10px 0;
    }
    .scroll_list li a {
       color: #4F4F4F;
    }

/* Homepage Edits */
@media only screen and (max-width: 800px) {
    .home-section {
        box-shadow: none;
        padding: 0;
    }
    .container-home {
        padding: 20px;
    }
    .container-home, .container-home .sixteen.columns, .container-home .seven.columns {
        width: 100% !important;
    }
    .container-home .column, .container-home .columns {
        margin: 0;
    }
    .map-overlay-container {
        display: none !important;
    }
    .container-footer .eleven.columns {
        width: 100%;
    }
    nav[role="footer-nav"] li, nav[role="footer-nav"] a {
        display: block !important;
        clear: both;
        line-height: 20px;
    }
    .fb-like {
        float: none;
    }
    #tipKeywords {
        display: none;
    }
    .cookie-msg {
        max-width: 100%;
        position: relative;
        top: 0;
        right: 0;
    }
}